[Unit]
Description=Firmware Unpacker
Before=rmtfs.service
After=boot.mount

[Service]
Type=simple
ExecStart=/usr/bin/msm-firmware-loader-unpack.sh

[Install]
WantedBy=default.target
